{{!-- <H4>You can not see this page without authentication.</H4>
<h6>Welcome {{user.name}}</h6>
<h6>Password:{{user.password}}</h6>
<hr> --}}
<a href="/logout">
        <button class="btn btn-danger">Logout</button>
    </a>
<div  id="container-1">
    <div class="row dragster-region">
    {{#each random}}
    {{!-- <div class="col md-1"> --}}
        <div class="block text-center dragster-block" id="{{this.Suit}}">
            {{!-- <h4 class="text-center"></h4> --}}
            <div>
                <strong>{{this.Suit}}</strong>
            <hr>
             {{this.Rank}}
            </div>
            {{!-- <p class="text-center"></p> --}}
           
        </div>
    {{!-- </div> --}}
    
    {{/each}}
</div>
<div class="row dragster-region" id="Spades">
            <h3>Spades</h3>
</div>
<div class="row dragster-region" id="Clubs">
            <h3>Clubs</h3>
</div>
<div class="row dragster-region" id="Hearts">
            <h3>Hearts</h3>
</div>
<div class="row dragster-region" id="Diamonds">
            <h3>Diamonds</h3>
</div>

</div>

     <script src="/js/dragster.js"></script>
<script>
   let a = []; 
let m =  ''

        var d1 = Dragster({
            regionSelector: '#container-1 > .dragster-region',
            elementSelector: '#container-1 > .dragster-region > .dragster-block',
            onBeforeDragEnd :function(e){
               console.log(e)
             let q = $(e.dragster.dropped)[0]
            var from = $(q).find('.block').attr('id');
            var droppedAt = e.path[0].id;
            console.log(from,droppedAt)
            if(from === droppedAt){
                alert('same');
            }
            else{
                return false;
            }
            }
        });
       
       
</script>