{{!--
<H4>You can not see this page without authentication.</H4>
<h6>Welcome {{user.name}}</h6>
<h6>Password:{{user.password}}</h6>
<hr> --}}
<a href="/logout">
    <button class="btn btn-danger">Logout</button>
</a>
<div id="complete">
    <a href="/profile" id="complete">
        <button class="btn btn-primary">Reload Game</button>
    </a>
</div>
<p>Move boxes only their correct boxes otherwise they will not move</p>


<div class="region" id="container-1">
    <div class="row dragster-region test">
        {{#each random}} {{!--
        <div class="col md-1"> --}}
            <div class="block text-center dragster-block" id="{{this.Suit}}">
                {{!--
                <h4 class="text-center"></h4> --}}
                <div class="{{this.Suit}}">
                    <strong>{{this.Suit}}</strong>
                    <hr>
                    <p id="number"> {{this.Rank}}</p>
                </div>
                {{!--
                <p class="text-center"></p> --}}

            </div>
            {{!-- </div> --}} {{/each}}
    </div>
    <div class="row dragster-region droppedSpades" id="Spades">
        <h3>Spades</h3>
        {{#each spsuccess}}
        <div class="block text-center dragster-block" id="{{this.Suit}}">
            <div class="{{this.Suit}}">
                <strong>{{this.Suit}}</strong>
                <hr>
                <p id="number"> {{this.Rank}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="row dragster-region droppedClubs" id="Clubs">
        <h3>Clubs</h3>
        {{#each csuccess}}
        <div class="block text-center dragster-block" id="{{this.Suit}}">
            <div class="{{this.Suit}}">
                <strong>{{this.Suit}}</strong>
                <hr>
                <p id="number"> {{this.Rank}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="row dragster-region droppedHearts" id="Hearts">
        <h3>Hearts</h3>
        {{#each hsuccess}}
        <div class="block text-center dragster-block" id="{{this.Suit}}">
            <div class="{{this.Suit}}">
                <strong>{{this.Suit}}</strong>
                <hr>
                <p id="number"> {{this.Rank}}</p>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="row dragster-region droppedDiamonds" id="Diamonds">
        <h3>Diamonds</h3>
       
        {{#each dsuccess}}
        <div class="block text-center dragster-block" id="{{this.Suit}}">
            <div class="{{this.Suit}}">
                <strong>{{this.Suit}}</strong>
                <hr>
                <p id="number"> {{this.Rank}}</p>
            </div>
        </div>
        {{/each}}
        
    
        
     
    </div>

    

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/dragster.js"></script>
<script>
    let user = '{{user.name}}';
    let a = [];
    let m = '';
    let heartsLeft = [];
    let heartsSuccess = [];
    let clubsLeft = [];
    let clubssSuccess = [];
    let spadesLeft = [];
    let spadesSuccess = [];
    let diamondsLeft = [];
    let diamondsSuccess = [];
    let allCollection = {};
     $('#complete').hide();
    let complete = false;
    let d1 = Dragster({
        regionSelector: '#container-1 > .dragster-region',
        elementSelector: '#container-1 > .dragster-region > .dragster-block',
        onBeforeDragEnd: function (e) {
            /*console.log($(e.dragster.shadow.node)[0])*/
            let q = $(e.dragster.shadow.node)[0]
            let from = $(q).find('.block').attr('id');
            let droppedAt = e.path[0].id;

            /*console.log(from,droppedAt)*/
            if (from == droppedAt) {

                let clubLength = $('.test .block').find('.Clubs').length;
                let diamondLength = $('.test .block').find('.Diamonds').length;
                let heartsLength = $('.test .block').find('.Hearts').length;
                let spadeLength = $('.test .block').find('.Spades').length;
                if (clubLength == 0 && diamondLength == 0 && heartsLength == 0 && spadeLength == 0) {
                    alert('bingo you have completed');
                    complete = true;
                   

                }

            }
            else {

                /*alert('not same')*/
                return false
            }

        },
        onAfterDragDrop: function (e) {
            heartsLeft = []
            heartsSuccess = []
            diamondsLeft = []
            diamondsSuccess = []
            clubsLeft = []
            clubsSuccess = []
            spadesLeft = []
            spadesSuccess = []
            //left on main container
            $('.test .block').find('div.Hearts').each(function (i, val) {
                let h = $(val).find('p#number').text();
                heartsLeft.push({ Suit: 'Hearts', Rank: h })


            })
            //successfully added on container
            $('.droppedHearts').find('div.Hearts').each(function (i, val) {
                let q = $(val).find('p#number').text();
                heartsSuccess.push({ Suit: 'Hearts', Rank: q })
                /*heartArray.push(h)*/


            })
            $('.test .block').find('div.Clubs').each(function (i, val) {
                let h = $(val).find('p#number').text();
                clubsLeft.push({ Suit: 'Clubs', Rank: h })


            })
            //successfully added on container
            $('.droppedClubs').find('div.Clubs').each(function (i, val) {
                let q = $(val).find('p#number').text();
                clubsSuccess.push({ Suit: 'Clubs', Rank: q })
                /*heartArray.push(h)*/


            })
            $('.test .block').find('div.Diamonds').each(function (i, val) {
                let h = $(val).find('p#number').text();
                diamondsLeft.push({ Suit: 'Diamonds', Rank: h })


            })
            //successfully added on container
            $('.droppedDiamonds').find('div.Diamonds').each(function (i, val) {
                let q = $(val).find('p#number').text();
                diamondsSuccess.push({ Suit: 'Diamonds', Rank: q })
                /*heartArray.push(h)*/


            })
            $('.test .block').find('div.Spades').each(function (i, val) {
                let h = $(val).find('p#number').text();
                spadesLeft.push({ Suit: 'Spades', Rank: h })


            })
            //successfully added on container
            $('.droppedSpades').find('div.Spades').each(function (i, val) {
                let q = $(val).find('p#number').text();
                spadesSuccess.push({ Suit: 'Spades', Rank: q })
                /*heartArray.push(h)*/


            })

            allCollection = {
                hearts: {
                    hleft: heartsLeft,
                    hsuccess: heartsSuccess,
                    name: 'Hearts'
                },
                diamonds: {
                    dleft: diamondsLeft,
                    dsuccess: diamondsSuccess,
                    name: 'Diamonds'
                },
                clubs: {
                    cleft: clubsLeft,
                    csuccess: clubsSuccess,
                    name: 'Clubs'
                },
                spades: {
                    sleft: spadesLeft,
                    ssuccess: spadesSuccess,
                    name: 'Spades'
                },
                user: user

            }
            if(diamondsLeft.length==0&&spadesLeft.length==0&&clubsLeft.length==0&&heartsLeft.length==0){
                console.log('completed');
                 $('#complete').show();
                 $.post("http://localhost:3000/api/progress", { collection: allCollection,complete:true }, function (result) {
                console.log(result)
            });
            }else{
            console.log('ncompleted')
            $.post("http://localhost:3000/api/progress", { collection: allCollection }, function (result) {
                console.log(result)
            });
            }
            
                   
        }

    });
if(diamondsLeft.length==0&&spadesLeft.length==0&&clubsLeft.length==0&&heartsLeft.length==0){
                console.log('completed');
                 $('#complete').show();
                 $.post("http://localhost:3000/api/progress", { collection: allCollection,complete:true }, function (result) {
                console.log(result)
            });
}




</script>