{{!--
<H4>You can not see this page without authentication.</H4>
<h6>Welcome {{user.name}}</h6>
<h6>Password:{{user.password}}</h6>
<hr> --}}
<a href="/logout">
    <button class="btn btn-danger">Logout</button>
</a>
<div id="complete">
    <a href="/profile" id="complete">
        <button class="btn btn-primary">Reload Game</button>
    </a>
</div>
<p>Move boxes only their correct boxes otherwise they will not move</p>


<div class="region" id="container-1">
    <div class="row dragster-region test">
        {{#each random}} {{!--
        <div class="col md-1"> --}}
            <div class="block text-center dragster-block" id="{{this.Suit}}">
                {{!--
                <h4 class="text-center"></h4> --}}
                <div class="{{this.Suit}}">
                    <strong>{{this.Suit}}</strong>
                    <hr> {{this.Rank}}
                </div>
                {{!--
                <p class="text-center"></p> --}}

            </div>
            {{!-- </div> --}} {{/each}}
    </div>
    <div class="row dragster-region " id="Spades">
        <h3>Spades</h3>
    </div>
    <div class="row dragster-region" id="Clubs">
        <h3>Clubs</h3>
    </div>
    <div class="row dragster-region" id="Hearts">
        <h3>Hearts</h3>
    </div>
    <div class="row dragster-region" id="Diamonds">
        <h3>Diamonds</h3>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/dragster.js"></script>
<script>
    let a = [];
    let m = ''
    $('#complete').hide();
    let d1 = Dragster({
        regionSelector: '#container-1 > .dragster-region',
        elementSelector: '#container-1 > .dragster-region > .dragster-block',
        onBeforeDragEnd: function (e) {
            /*console.log($(e.dragster.shadow.node)[0])*/
            let q = $(e.dragster.shadow.node)[0]
            let from = $(q).find('.block').attr('id');
            let droppedAt = e.path[0].id;
            /*console.log(from,droppedAt)*/
            if (from == droppedAt) {
                let clubLength = $('.test .block').find('.Clubs').length;
                let diamondLength = $('.test .block').find('.Clubs').length;
                let heartsLength = $('.test .block').find('.Clubs').length;
                let spadeLength = $('.test .block').find('.Clubs').length;
                if (clubLength == 0) {
                    if(diamondLength==0){
                        if(heartsLength==0){
                            if(spadeLength){
                                 alert('bingo you have completed');
                    $('#complete').show();
                            }
                        }
                    }
                   

                }

            }
            else {
                
                /*alert('not same')*/
                return false
            }

        }
    });





</script>